{{#if use_custom_colors}}
  {{#if text}}
    <amp-story-grid-layer
      template='thirds'
      style='background-color: {{background_color.color}}; color: {{text_color.color}};'
    >
      <div grid-area='middle-third' class='self-center w-full max-w-xl mx-auto'>
        <div class='{{#if landscape}}wysiwyg wysiwyg--landscape{{else}}wysiwyg{{/if}}'>
          {{markdown text}}
        </div>
      </div>
    </amp-story-grid-layer>
  {{/if}}
{{else}}
  {{#if landscape}}
    <amp-story-grid-layer template='fill'>
      {{#if (assetTypeEq cover.filename 'video')}}
        <amp-video
          autoplay
          loop
          width='1280'
          height='720'
          src='{{{cover.filename}}}'
          layout='responsive'
        >
          <div fallback>
            <p>Your browser doesn't support HTML5 video.</p>
          </div>
          <source src='{{{cover.filename}}}' type='video/mp4' />
        </amp-video>
      {{/if}}

      {{#if (assetTypeEq cover.filename 'image')}}
        <amp-img
          alt='{{{cover.alt}}}'
          src='{{{transformImage cover.filename "1280x720"}}}'
          srcset='{{{transformImage cover.filename "720x405"}}} 640w,
                  {{{transformImage cover.filename "1280x720"}}} 1024w'
          width='{{{lookup (imageSize cover.filename) "width"}}}'
          height='{{{lookup (imageSize cover.filename) "height"}}}'
          layout='responsive'
        >
        </amp-img>
      {{/if}}
    </amp-story-grid-layer>
  {{else}}
    <amp-story-grid-layer template='fill'>
      {{#if (assetTypeEq cover.filename 'video')}}
        <amp-video
          autoplay
          loop
          width='720'
          height='1280'
          src='{{{cover.filename}}}'
          layout='responsive'
        >
          <div fallback>
            <p>Your browser doesn't support HTML5 video.</p>
          </div>
          <source src='{{{cover.filename}}}' type='video/mp4' />
        </amp-video>
      {{/if}}

      {{#if (assetTypeEq cover.filename 'image')}}
        <amp-img
          alt='{{{cover.alt}}}'
          src='{{{transformImage cover.filename "720x1280"}}}'
          srcset='{{{transformImage cover.filename "405x720"}}} 640w,
                  {{{transformImage cover.filename "720x1280"}}} 1024w'
          width='{{{lookup (imageSize cover.filename) "width"}}}'
          height='{{{lookup (imageSize cover.filename) "height"}}}'
          layout='responsive'
        >
        </amp-img>
      {{/if}}
    </amp-story-grid-layer>
  {{/if}}

  {{#if text}}
    <amp-story-grid-layer template='thirds' class='bg-black bg-opacity-70'>
      <div grid-area='middle-third' class='self-center w-full max-w-xl mx-auto'>
        <div class='text-white'>
          <div class='{{#if landscape}}wysiwyg wysiwyg--landscape{{else}}wysiwyg{{/if}}'>
            {{{markdown text}}}
          </div>
        </div>
      </div>
    </amp-story-grid-layer>
  {{/if}}
{{/if}}