{{#if use_custom_colors}}
  {{#if text}}
    <amp-story-grid-layer
      template='vertical'
      style='background-color: {{background_color.color}}; color: {{text_color.color}};'
    >
      <div class='wysiwyg max-w-3xl mx-auto'>
        {{markdown text}}
      </div>
    </amp-story-grid-layer>
  {{/if}}
{{else}}
  {{#if (and cover landscape)}}
    <amp-story-grid-layer template='fill'>
      {{#if (assetTypeEq cover.filename 'video')}}
        <amp-video
          autoplay
          loop
          width='1280'
          height='720'
          src='{{{cover.filename}}}'
          poster='{{{transformImage cover.filename "1280x720"}}}'
          layout='responsive'
        >
          <div fallback>
            <p>Your browser doesn't support HTML5 video.</p>
          </div>
          <source src='{{{cover.filename}}}' type='video/mp4' />
        </amp-video>
      {{/if}}

      {{#if (assetTypeEq cover.filename 'image')}}
        <amp-img
          alt='{{{cover.alt}}}'
          src='{{{transformImage cover.filename "1280x720"}}}'
          srcset='{{{transformImage cover.filename "720x405"}}} 640w,
                  {{{transformImage cover.filename "1280x720"}}} 1024w'
          width='{{{lookup (imageSize cover.filename) "width"}}}'
          height='{{{lookup (imageSize cover.filename) "height"}}}'
          layout='responsive'
        >
        </amp-img>
      {{/if}}
    </amp-story-grid-layer>
  {{else}}
    <amp-story-grid-layer template='fill'>
      {{#if (assetTypeEq cover.filename 'video')}}
        <amp-video
          autoplay
          loop
          width='720'
          height='1280'
          src='{{{cover.filename}}}'
          poster='{{{transformImage cover.filename "720x1280"}}}'
          layout='responsive'
        >
          <div fallback>
            <p>Your browser doesn't support HTML5 video.</p>
          </div>
          <source src='{{{cover.filename}}}' type='video/mp4' />
        </amp-video>
      {{/if}}

      {{#if (assetTypeEq cover.filename 'image')}}
        <amp-img
          alt='{{{cover.alt}}}'
          src='{{{transformImage cover.filename "720x1280"}}}'
          srcset='{{{transformImage cover.filename "405x720"}}} 640w,
                  {{{transformImage cover.filename "720x1280"}}} 1024w'
          width='{{{lookup (imageSize cover.filename) "width"}}}'
          height='{{{lookup (imageSize cover.filename) "height"}}}'
          layout='responsive'
        >
        </amp-img>
      {{/if}}
    </amp-story-grid-layer>
  {{/if}}

  {{#if text}}
    <amp-story-grid-layer template='vertical' class='bg-black bg-opacity-50'>
      <div class='wysiwyg text-white max-w-3xl mx-auto'>
        {{landscape}}
        {{../../../landscapeSupport}}
        {{markdown text}}
      </div>
    </amp-story-grid-layer>
  {{/if}}
{{/if}}