{{{story.content._editable}}}

<main class="grid gap-10 pb-10 sm:gap-20 sm:pb-20">
  <header>
    <div class="container">
      <h1 class='title-1'>
        {{ story.name }}
      </h1>
    </div>
  </header>

  {{#each story.content.body}}
    {{#> (concat 'bloks/' (lookup . 'component'))}}
      {{#if @root.isDev}}
        {{> 'Debug' title=(concat 'Blok «<i>' component '</i>» not found') code=this }}
      {{/if}}
    {{/undefined}}
  {{/each}}
</main>

{{#section 'schema'}}
  <script type='application/ld+json'>
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{{story.content.meta.title}}}",
      "description": "{{{story.content.meta.description}}}",
      "publisher": {
        "@type": "Person",
        "name": "{{{@root.meta.author}}}"
      }
    }
  </script>
{{/section}}

{{#section 'script'}}
  <script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
{{/section}}
